{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-1">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-sm-12 text-center">
            <h1>What's On Our Menu?</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <form method="GET" action="">
                <div class="md-form mt-0 active-cyan-2">
                    <input class="form-control" name="q" type="text" placeholder="Search Restaurants" aria-label="Search" value="">
                </div>
            </form>
        </div>
    </div>
    
    <div class="pt-5">
        <div class="row">
            {% for type in cuisines %}
            <div class="card mx-5" style="width: 18rem;">
                <img src="{{'/static/Cuisine_Images/'+type + '.jpg'}}" class="card-img-top" alt="cuisine type">
                <div class="card-body">
                  <h5 class="card-title">{{type}}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}