{% extends 'restaurant/base.html'%}

{% block content%}
<style>
    .table thead {
    background-color: #4eafc3;
    }

    .table td {
    font-size: 14px;
    }

</style>
<div class="container text-center mt-3"><h1>{{rest_name}}</h1></div>
<div class="container">
<div class="row">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Veg/Non-veg</th>
        <th>Availability</th>
        <th>Item Name</th>
        <th>Unit Price</th>
        <th>Type</th>
        <th>Edit</th> 
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{% if (item['veg_nonveg']) %}
          <i class="fa-solid fa-leaf"></i>
          {% else %}
          <i class="fa-solid fa-drumstick-bite"></i>
          {% endif %} 
        </td>
        <td>{{ item['availability'] }}</td>
        <td>{{ item['name'] }}</td>
        <td>{{ item['unit_price'] }}</td>
        <td>{{ item['type'] }}</td>
        <td>
          <form method="GET" action="{{url_for('restaurant.menuedit')}}">
            <button type="Edit" class="btn" name="item_ID" value="{{item['ID']}}">
              <i class="fa-regular fa-pen-to-square" name="m"></i>Edit
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{% endblock content %} 