{% extends 'customer/base.html' %}

{% block content %}

<style>
    body {
        background: url(/static/aboutUsbg.jpg);
        background-size: cover;

        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
    }
    
    div1 {
        display: block;
        margin-top:50px
    }
    .card-header {
        background-color: #343a40;
        color: white;
        border-radius: 10px 10px 0 0;
    }
    .btn {
        background-color: #343a40;
        border-color: black;
    }
    .btn:hover {
        background-color: #ffffff;
        border-color: #23272b;
        color:#000000
        font-weight: bold;
    }
</style>

<body>
    <div class="container mb-5">


        <div1 class="jumbotron py-5 bg-light">
            <div class="container">
                <h4 class="display-4">
                    <center>About Us</center>
                </h4>
                
                <p>
                    <h5>Welcome to our food delivery app! We are a team of passionate individuals who are dedicated to bringing delicious food to your doorstep.
                        Our app was created with the aim of making it easy and convenient for you to order food from your favorite restaurants.
                        We understand that in today's fast-paced world, people have very little time to cook and often rely on takeout or delivery options.
                        Our app bridges the gap between busy lifestyles and quality food by providing a seamless ordering experience.</h5>
                </p>
                
                <p>
                    <h5>We work with a wide range of restaurants, from local favorites to popular chains, to ensure that there is something for everyone.
                        Our menus are carefully curated to provide a variety of options, from comfort food to healthy meals, and everything in between.</h5>
                </p>
            </div>
        </div1>
    
        
        <div class="jumbotron bg-light">
            <div2 class="container">
                <h1 class="fw-light mb-5">
                    <center><b>Our Partners and Executives</b></center>
                </h1>
                
                <div class="row">
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100" height="150"><rect width="100%" height="100%" fill="#55595c"></rect><text x="100" y="100" font-size="5em" fill="#eceeef">10+</text></svg>
                            <div class="card-body py-1">
                                <p class="card-text"><center>Restaurant Partners IITGN</center></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100" height="150"><rect width="100%" height="100%" fill="#55595c"></rect><text x="100" y="100" font-size="5em" fill="#eceeef">20+</text></svg>
                            <div class="card-body py-1">
                                <p class="card-text"><center>Employees across the Campus</center></p>
                            </div>
                        </div>
                </div>
                
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100" height="150"><rect width="100%" height="100%" fill="#55595c"></rect><text x="100" y="100" font-size="5em" fill="#eceeef">15+</text></svg>
                        <div class="card-body py-1">
                            <p class="card-text"><center>Delivery Executives</center></p>
                        </div>
                    </div>
                </div>
            </div>
        </div2>
    </div>
</div>
</body>


{% endblock content %}
