{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo, doloribus nemo minus iusto eum
                nostrum accusantium magni expedita ratione cumque eveniet esse at deserunt, atque in, placeat magnam
                similique!</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe officiis reprehenderit reiciendis error?
                Quaerat inventore vitae excepturi id magnam fugiat!</p>

        </div>
    </div>
</div>
{% endblock content %}