{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>Online Food Delivery Service</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center">
            <a href="{{ url_for('login') }}" class="btn btn-outline-primary"> Login</a> 
            <a href="#" class="btn btn-outline-primary"> Sign Up</a> 
        </div>
    </div>
    {% if messages %}
    <div class="row justify-content-center pt-3">
      <div class="col-md-6">
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">{{message}}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>  
{% endblock content %}